
<div class="row">
  <div class="col-md6 offset-md-3">

<h1>
  <%= @user.username %>
</h1>
  <ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <%= link_to "Posts", user_path(@user.username), class: "nav-item" %>
  </li>
  <li class="nav-item">
    <%= link_to "Liked Photos", liked_photos_path(@user.username), class: "nav-item" %>
  </li>
  <li class="nav-item">
    <%= link_to "Feed", user_path(@user.username), class: "nav-item" %>
  </li>
 <li class="nav-item">
    <%= link_to "Following", user_path(@user.username), class: "nav-item" %>
  </li>
</ul>
  </div>
</div>

<%= current_user.liked_photos.count %>
<% current_user.own_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
